build --apple_platform_type=ios
build --cpu ios_x86_64
build --ios_simulator_device="iPhone 13"
build --compilation_mode=dbg

build --features=apple.virtualize_frameworks
# build --features=swift.cacheable_swiftmodules
